html, body 
{
    height: 100%;
    margin: 0;
}

body 
{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas
{
    border: 1px dotted darkgray;
    width: 80%; 
}

@media screen and (min-width: 100px) and (min-height: 100px)
{
    #gamePong
    {
        width: 80%;
        height: 80%;
    }
}
