:root {
  --primary-accent-color: #00adb5;
}

.title-1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.title-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.title-3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

.small {
  font-size: 0.8rem;
  font-weight: normal;
}

.body-link {
  font-size: 1rem;
  color: var(--primary-accent-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
