:root {
  --primary-accent-color: #00adb5;
}

.title-1 {
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.title-2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.title-3 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

.small {
  font-size: 0.8rem;
  font-weight: normal;
}

.body-link {
  font-size: 1rem;
  color: var(--primary-accent-color);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}
